doctype
- var locale = getLocale(lang)
html(lang="#{lang}")
    head
        meta(charset="utf-8")
        title= locale.t('meta.title')
        meta(name="description", content="#{locale.t('meta.description')}")
        meta(name="keywords", content="#{locale.t('meta.keywords')}")

        meta(name="viewport",content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="/styles/app.css?DIGEST")

        link(rel="alternate", type="application/atom+xml", href="/#{lang}/feeds/news.atom", title="News Feed")
        link(rel="alternate", type="application/atom+xml", href="/#{lang}/feeds/signatories.atom", title="Signatories Feed")

    body
        svg#symbols: defs
            symbol#icon-circle-down(viewbox='0 0 1024 1024')
                title circle-down
                path.path1(d='M1024 512c0-282.77-229.23-512-512-512s-512 229.23-512 512 229.23 512 512 512 512-229.23 512-512zM96 512c0-229.75 186.25-416 416-416s416 186.25 416 416-186.25 416-416 416-416-186.25-416-416z')
                path.path2(d='M317.256 354.744l-90.512 90.512 285.256 285.254 285.254-285.256-90.508-90.508-194.746 194.744z')
            symbol#icon-feed(viewbox='0 0 1024 1024')
                title feed2
                path.path1(d='M136.294 750.93c-75.196 0-136.292 61.334-136.292 136.076 0 75.154 61.1 135.802 136.292 135.802 75.466 0 136.494-60.648 136.494-135.802-0.002-74.742-61.024-136.076-136.494-136.076zM0.156 347.93v196.258c127.784 0 247.958 49.972 338.458 140.512 90.384 90.318 140.282 211.036 140.282 339.3h197.122c-0.002-372.82-303.282-676.070-675.862-676.070zM0.388 0v196.356c455.782 0 826.756 371.334 826.756 827.644h196.856c0-564.47-459.254-1024-1023.612-1024z')
            symbol#icon-pushpin(viewbox='0 0 1024 1024')
                title pushpin
                path.path1(d='M544 0l-96 96 96 96-224 256h-224l176 176-272 360.616v39.384h39.384l360.616-272 176 176v-224l256-224 96 96 96-96-480-480zM448 544l-64-64 224-224 64 64-224 224z')
            symbol#icon-signatory(viewbox='0 0 1024 1024')
                title quill
                path.path1(d='M0 1024c128-384 463-1024 1024-1024-263 211-384 704-576 704s-192 0-192 0l-192 320h-64z')
            symbol#icon-info(viewbox='0 0 1024 1024')
                title bullhorn
                path.path1(d='M1024 429.256c0-200.926-58.792-363.938-131.482-365.226 0.292-0.006 0.578-0.030 0.872-0.030h-82.942c0 0-194.8 146.336-475.23 203.754-8.56 45.292-14.030 99.274-14.030 161.502s5.466 116.208 14.030 161.5c280.428 57.418 475.23 203.756 475.23 203.756h82.942c-0.292 0-0.578-0.024-0.872-0.032 72.696-1.288 131.482-164.298 131.482-365.224zM864.824 739.252c-9.382 0-19.532-9.742-24.746-15.548-12.63-14.064-24.792-35.96-35.188-63.328-23.256-61.232-36.066-143.31-36.066-231.124 0-87.81 12.81-169.89 36.066-231.122 10.394-27.368 22.562-49.266 35.188-63.328 5.214-5.812 15.364-15.552 24.746-15.552 9.38 0 19.536 9.744 24.744 15.552 12.634 14.064 24.796 35.958 35.188 63.328 23.258 61.23 36.068 143.312 36.068 231.122 0 87.804-12.81 169.888-36.068 231.124-10.39 27.368-22.562 49.264-35.188 63.328-5.208 5.806-15.36 15.548-24.744 15.548zM251.812 429.256c0-51.95 3.81-102.43 11.052-149.094-47.372 6.554-88.942 10.324-140.34 10.324-67.058 0-67.058 0-67.058 0l-55.466 94.686v88.17l55.46 94.686c0 0 0 0 67.060 0 51.398 0 92.968 3.774 140.34 10.324-7.236-46.664-11.048-97.146-11.048-149.096zM368.15 642.172l-127.998-24.51 81.842 321.544c4.236 16.634 20.744 25.038 36.686 18.654l118.556-47.452c15.944-6.376 22.328-23.964 14.196-39.084l-123.282-229.152zM864.824 548.73c-3.618 0-7.528-3.754-9.538-5.992-4.87-5.42-9.556-13.86-13.562-24.408-8.962-23.6-13.9-55.234-13.9-89.078s4.938-65.478 13.9-89.078c4.006-10.548 8.696-18.988 13.562-24.408 2.010-2.24 5.92-5.994 9.538-5.994 3.616 0 7.53 3.756 9.538 5.994 4.87 5.42 9.556 13.858 13.56 24.408 8.964 23.598 13.902 55.234 13.902 89.078 0 33.842-4.938 65.478-13.902 89.078-4.004 10.548-8.696 18.988-13.56 24.408-2.008 2.238-5.92 5.992-9.538 5.992z')
            symbol#icon-twitter(viewbox='0 0 1024 1024')
                title twitter
                path.path1(d='M1024 194.418c-37.676 16.708-78.164 28.002-120.66 33.080 43.372-26 76.686-67.17 92.372-116.23-40.596 24.078-85.556 41.56-133.41 50.98-38.32-40.83-92.922-66.34-153.346-66.34-116.022 0-210.088 94.058-210.088 210.078 0 16.466 1.858 32.5 5.44 47.878-174.6-8.764-329.402-92.4-433.018-219.506-18.084 31.028-28.446 67.116-28.446 105.618 0 72.888 37.088 137.192 93.46 174.866-34.438-1.092-66.832-10.542-95.154-26.278-0.020 0.876-0.020 1.756-0.020 2.642 0 101.788 72.418 186.696 168.522 206-17.626 4.8-36.188 7.372-55.348 7.372-13.538 0-26.698-1.32-39.528-3.772 26.736 83.46 104.32 144.206 196.252 145.896-71.9 56.35-162.486 89.934-260.916 89.934-16.958 0-33.68-0.994-50.116-2.94 92.972 59.61 203.402 94.394 322.042 94.394 386.422 0 597.736-320.124 597.736-597.744 0-9.108-0.206-18.168-0.61-27.18 41.056-29.62 76.672-66.62 104.836-108.748z')
            symbol#icon-press(viewbox='0 0 1024 1024')
                title newspaper
                path.path1(d='M896 256v-128h-896v704c0 35.346 28.654 64 64 64h864c53.022 0 96-42.978 96-96v-544h-128zM832 832h-768v-640h768v640zM128 320h640v64h-640zM512 448h256v64h-256zM512 576h256v64h-256zM512 704h192v64h-192zM128 448h320v320h-320z')
            symbol#icon-goodies(viewbox='0 0 1024 1024')
                title trophy
                path.path1(d='M832 192v-128h-640v128h-192v128c0 106.038 85.958 192 192 192 20.076 0 39.43-3.086 57.62-8.802 46.174 66.008 116.608 113.796 198.38 130.396v198.406h-64c-70.694 0-128 57.306-128 128h512c0-70.694-57.306-128-128-128h-64v-198.406c81.772-16.6 152.206-64.386 198.38-130.396 18.19 5.716 37.544 8.802 57.62 8.802 106.042 0 192-85.962 192-192v-128h-192zM192 436c-63.962 0-116-52.038-116-116v-64h116v64c0 40.186 7.43 78.632 20.954 114.068-6.802 1.246-13.798 1.932-20.954 1.932zM948 320c0 63.962-52.038 116-116 116-7.156 0-14.152-0.686-20.954-1.932 13.524-35.436 20.954-73.882 20.954-114.068v-64h116v64z')



        #page.col
            .overlay.col.medium
                img(src="../images/npne-header.jpg", alt="#NiPigeonsNiEspions")

            .container.col
                header
                    nav
                        ul.locales
                            li
                                if lang != 'fr'
                                    a(href="/fr/" title="lire en français") version française
                            li
                                if lang != 'en'
                                    a(href="/en/" title="see in english") english version

                    h1
                        != locale.t('header.title')
                        br
                        a(href="https://twitter.com/search?f=realtime&q=nipigeonsniespions&src=typd", target='_blank') #NiPigeonsNiEspions
                        img(src="../images/npne-800-small.jpg", alt="")


                    blockquote(cite="http://ww2.ac-poitiers.fr/histoire-arts/IMG/pdf/extrait_1984_Orwell.pdf")
                        p= locale.t('header.quote')
                        footer
                            | George Orwell, 1984


                    nav
                        ul.socials
                            li: a.twitter-share-button(href='https://twitter.com/share', data-url='http://ni-pigeons-ni-espions.fr/', data-text="Nous, acteurs du numérique, sommes contre la surveillance généralisée d'internet.", data-hashtags='NiPigeonsNiEspions') Tweet
                            li: span.fb-share-button(data-href='http://ni-pigeons-ni-espions.fr/', data-layout='button_count')
                        ul.main
                            li: a(href="#manifesto")
                                svg.icon.icon-circle-down: use(xlink:href='#icon-circle-down')
                                = locale.t('nav.manifesto')
                            li: a(href="#signatories")
                                svg.icon.icon-circle-down: use(xlink:href='#icon-circle-down')
                                = locale.t('nav.signatories')
                            li: a(href="#news")
                                svg.icon.icon-circle-down: use(xlink:href='#icon-circle-down')
                                = locale.t('nav.news')
                            li: a(href="#faq")
                                svg.icon.icon-circle-down: use(xlink:href='#icon-circle-down')
                                = locale.t('nav.faq')


                section.main
                    div.col-2-1
                        #manifesto.l10n
                            != marked(getContent('manifesto', lang))
                            p
                                strong
                                    = locale.t('main.call', {n: signatories.length})
                                a.internal(href="#contact", role='button')= locale.t('main.cta')

                            form#contact(action='https://docs.google.com/forms/d/1r280JZtdw_OPJRVflnMLfH4TintgyqWScq4RrCoAjCU/formResponse', method='POST', target='_blank', aria-hidden='true')
                                .form
                                    p.meta!= locale.t('form.title')
                                    label.required(for="#entry_1413444690")
                                        span= locale.t('form.fields.name.label')
                                        input#entry_1413444690(name='entry.1413444690', value='', aria-label=locale.t('form.fields.name.label'), required, type='text')
                                    label.required(for="entry_1285308595")
                                        span= locale.t('form.fields.firstname.label')
                                        input#entry_1285308595(name='entry.1285308595', value='', aria-label=locale.t('form.fields.firstname.label'), required, type='text')
                                    label.required(for="entry_1695069219")
                                        span= locale.t('form.fields.email.label')
                                        input#entry_1695069219.email(name='entry.1695069219', value='', aria-label="#{locale.t('form.fields.email.label')} : #{locale.t('form.email')}", required, type='email')
                                    label.required(for="entry_179101777")
                                        span= locale.t('form.fields.company.label')
                                        span.sublabel= locale.t('form.fields.company.sublabel')
                                        input#entry_179101777(name='entry.179101777', value='', aria-label=locale.t('form.fields.company.label'), required, type='text')
                                    label(for="entry_531153548")
                                        span= locale.t('form.fields.cardline.label')
                                        span.sublabel= locale.t('form.fields.cardline.sublabel')
                                        input#entry_531153548(name='entry.531153548', value='', aria-label=locale.t('form.fields.cardline.label'), type='text')
                                    label.required(for="entry_1064043102")
                                        span= locale.t('form.fields.category.label')
                                        select#entry_1064043102(name="entry.1064043102", aria-label=locale.t('form.fields.category.label'), required)
                                            option(selected, disabled)= locale.t('form.fields.category.placeholder')
                                            each filter in filters
                                                option(value=filter)= locale.t('form.fields.category.options.' + filter)

                                    input(name='draftResponse', value='[,,"1911309125656065190"]', type='hidden')
                                    input(name='fbzx', value='1911309125656065190', type='hidden')

                                    input(type='submit', value='Souscrire à la déclaration', name='subscribe', role='button')
                                p.onsuccess.success.feedback(aria-hidden='true')= locale.t('form.success')
                                p.onerror.error.feedback(aria-hidden='true')= locale.t('form.error')


                        nav
                            .h3
                                = locale.t('main.recent') 
                                a(href="feeds/news.atom", title=""): svg(class="icon icon-feed"): use(xlink:href="#icon-feed")
                            ul.roll
                                - pined = getContent('news', lang).filter(function(obj){ return obj.pined; })
                                - latest = getContent('news', lang).reverse().filter(function(obj, index){ return index < 5 && !obj.pined; })
                                - roll = pined.concat(latest)
                                each entry in roll
                                    li
                                        a(href="##{slug(entry.title).toLowerCase()}")
                                            .icons
                                                if(entry.pined)
                                                    svg(class="icon icon-pushpin"): use(xlink:href="#icon-pushpin")
                                                svg(class="icon icon-#{entry.category}"): use(xlink:href="#icon-#{entry.category}")
                                            h3= entry.title


                    #signatories(class=filters.join(' '))
                        h2
                            span.counter= signatories.length
                            |  #{locale.t('nav.signatories')} 
                            span.date
                                = date 
                                a(href="feeds/signatories.atom", title=""): svg(class="icon icon-feed"): use(xlink:href="#icon-feed")

                            ul.markers
                                li: img(src="../images/npne-100-small.jpg", alt="100")
                                li: img(src="../images/npne-200-small.jpg", alt="200")
                                li: img(src="../images/npne-500-small.jpg", alt="500")
                                li: img(src="../images/npne-800-small.jpg", alt="800")

                        fieldset.filters
                            - var category_counter = {}
                            each filter in filters
                                - category_counter[filter] = signatories.filter(function(obj) { return obj['Catégorie'] == filter; }).length

                            legend
                                | #{locale.t('signatories.filters.title')} (
                                button(value='all')= locale.t('signatories.filters.all')
                                | /
                                button(value='none')= locale.t('signatories.filters.none')
                                | )
                            
                            div
                                each filter in filters
                                    - var id = 'filter_' + filter
                                    label(for=id)
                                        input(id=id, type='checkbox', checked, value=filter)
                                        = locale.t('form.fields.category.options.' + filter)
                                        |  
                                        span.counter (#{category_counter[filter]})

                        ul
                            each signatory in signatories
                                    - cardClass = 'card'
                                    if signatory['extras']
                                        - cardClass += ' extras'
                                    li(class=signatory['Catégorie'])
                                        div(class=cardClass, id="#{slug(signatory['Société']).toLowerCase()}")
                                            if signatory['Logo']
                                                .logo
                                                    img(src="../images/logos/#{signatory['Logo']}" alt="")
                                            .content
                                                h3= signatory['Société']
                                                if signatory['Mention du cartouche'].length != 1
                                                    .meta
                                                        if signatory['Mention du cartouche'].length > 1
                                                            span.name= signatory['Mention du cartouche']
                                                        else
                                                            span.name #{signatory['Prénom']} #{signatory['Nom']}
                                            if signatory['extras']
                                                p.description= signatory['extras']


                section#news.l10n
                    h2
                        = locale.t('nav.news') 
                        a(href="feeds/news.atom", title=""): svg(class="icon icon-feed"): use(xlink:href="#icon-feed")
                    .col-2-2
                        each entry in getContent('news', lang).reverse()
                            article(id="#{slug(entry.title).toLowerCase()}")
                                .icons
                                    span.tag
                                        svg(class="icon icon-#{entry.category}"): use(xlink:href="#icon-#{entry.category}")
                                        = locale.t('news.category.' + entry.category)
                                    if(entry.pined)
                                        svg(class="icon icon-pushpin"): use(xlink:href="#icon-pushpin")
                                h3= entry.title
                                != marked(entry.__content)


                section#faq.l10n
                    h2= locale.t('nav.faq')
                    dl
                        each entry in getContent('faq', lang)
                            dt= entry.title
                            dd
                                != marked(entry.__content)


                .medium
                    img(src="../images/presidio-modelo2.jpg" alt=locale.t('footer.presidio'))


            footer.col
                .author
                    p
                        = locale.t('footer.presidio')
                        br
                        a(href="https://commons.wikimedia.org/wiki/File:Presidio-modelo2.JPG") wikimedia commons
                    P
                        = locale.t('footer.visuals')
                        br
                        a(href="https://creativecommons.org/licenses/by-nc-sa/4.0/")
                            img(alt=locale.t('footer.cc_by_nc_sa'), style="border-width:0", src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png")

                p.license
                    = locale.t('footer.license')
                    br
                    a(href="http://creativecommons.org/licenses/by-sa/4.0/")
                        img(alt="Creative Commons License", style="border-width:0", src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png")
                        = locale.t('footer.cc_by_sa')



        script(src="../scripts/vendor.js?DIGEST")
        script(src="../scripts/app.js?DIGEST", onload="require('initialize');")

        script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        script.
            (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));

        script(type='text/javascript').
            var _paq = _paq || [];_paq.push(["setDomains", ["*.ni-pigeons-ni-espions.fr","*.www.ni-pigeons-ni-espions.fr","*.ni-pigeons-ni-espions.fr"]]);_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);(function() {var u="//piwik.cozycloud.cc/";_paq.push(['setTrackerUrl', u+'piwik.php']);_paq.push(['setSiteId', 4]);var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);})();
        noscript
            img(src='//piwik.cozycloud.cc/piwik.php?idsite=4', style='border:0;', alt='')
