doctype
- var locale  = getLocale(lang)
- var entries = signatories.filter(function(obj){ return obj['Validé'] != null && obj['Validé'].toLowerCase() == 'x'; }).map(function(obj){ copy = extend({}, obj); if (!obj['Catégorie'].length) copy['Catégorie'] = 'autre'; return copy; })
html(lang="#{lang}")
    head
        meta(charset="utf-8")
        title= locale.t('meta.title')
        meta(name="description", content="#{locale.t('meta.description')}")
        meta(name="keywords", content="#{locale.t('meta.keywords')}")

        meta(name="viewport",content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="../styles/app.css?DIGEST")

    body
        svg#symbols: defs
            symbol#icon-circle-down(viewbox='0 0 1024 1024')
                title circle-down
                path.path1(d='M1024 512c0-282.77-229.23-512-512-512s-512 229.23-512 512 229.23 512 512 512 512-229.23 512-512zM96 512c0-229.75 186.25-416 416-416s416 186.25 416 416-186.25 416-416 416-416-186.25-416-416z')
                path.path2(d='M317.256 354.744l-90.512 90.512 285.256 285.254 285.254-285.256-90.508-90.508-194.746 194.744z')

        #page.col
            .overlay.col.medium
                img(src="../images/npne-header.jpg", alt="#NiPigeonsNiEspions")

            .container.col
                header
                    nav
                        ul.locales
                            li
                                if lang != 'fr'
                                    a(href="/fr/" title="lire en français") version française
                            li
                                if lang != 'en'
                                    a(href="/en/" title="see in english") english version

                    h1
                        != locale.t('header.title')
                        br
                        a(href="https://twitter.com/search?f=realtime&q=nipigeonsniespions&src=typd", target='_blank') #NiPigeonsNiEspions
                        img(src="../images/npne-500-small.jpg", alt="")


                    blockquote(cite="http://ww2.ac-poitiers.fr/histoire-arts/IMG/pdf/extrait_1984_Orwell.pdf")
                        p= locale.t('header.quote')
                        footer
                            | George Orwell, 1984


                    nav
                        ul.socials
                            li: a.twitter-share-button(href='https://twitter.com/share', data-url='http://ni-pigeons-ni-espions.fr/', data-text="Nous, acteurs du numérique, sommes contre la surveillance généralisée d'internet.", data-hashtags='NiPigeonsNiEspions') Tweet
                            li: span.fb-share-button(data-href='http://ni-pigeons-ni-espions.fr/', data-layout='button_count')
                        ul.main
                            li: a(href="#manifesto")
                                svg.icon.icon-circle-down: use(xlink:href='#icon-circle-down')
                                = locale.t('nav.manifesto')
                            li: a(href="#signatories")
                                svg.icon.icon-circle-down: use(xlink:href='#icon-circle-down')
                                = locale.t('nav.signatories')
                            li: a(href="#faq")
                                svg.icon.icon-circle-down: use(xlink:href='#icon-circle-down')
                                = locale.t('nav.faq')


                section.main
                    #manifesto
                        != marked(locale.t('main.content') + "\n\n" + links)
                        p
                            strong
                                = locale.t('main.call', {n: entries.length})
                            a.internal(href="#contact", role='button')= locale.t('main.cta')

                        form#contact(action='https://docs.google.com/forms/d/1r280JZtdw_OPJRVflnMLfH4TintgyqWScq4RrCoAjCU/formResponse', method='POST', target='_blank', aria-hidden='true')
                            .form
                                p.meta!= locale.t('form.title')
                                label.required(for="#entry_1413444690")
                                    span= locale.t('form.fields.name.label')
                                    input#entry_1413444690(name='entry.1413444690', value='', aria-label=locale.t('form.fields.name.label'), required, type='text')
                                label.required(for="entry_1285308595")
                                    span= locale.t('form.fields.firstname.label')
                                    input#entry_1285308595(name='entry.1285308595', value='', aria-label=locale.t('form.fields.firstname.label'), required, type='text')
                                label.required(for="entry_1695069219")
                                    span= locale.t('form.fields.email.label')
                                    input#entry_1695069219.email(name='entry.1695069219', value='', aria-label="#{locale.t('form.fields.email.label')} : #{locale.t('form.email')}", required, type='email')
                                label.required(for="entry_179101777")
                                    span= locale.t('form.fields.company.label')
                                    span.sublabel= locale.t('form.fields.company.sublabel')
                                    input#entry_179101777(name='entry.179101777', value='', aria-label=locale.t('form.fields.company.label'), required, type='text')
                                label(for="entry_531153548")
                                    span= locale.t('form.fields.cardline.label')
                                    span.sublabel= locale.t('form.fields.cardline.sublabel')
                                    input#entry_531153548(name='entry.531153548', value='', aria-label=locale.t('form.fields.cardline.label'), type='text')
                                label.required(for="entry_1064043102")
                                    span= locale.t('form.fields.category.label')
                                    select#entry_1064043102(name="entry.1064043102", aria-label=locale.t('form.fields.category.label'), required)
                                        option(selected, disabled)= locale.t('form.fields.category.placeholder')
                                        each filter in filters
                                            option(value=filter)= locale.t('form.fields.category.options.' + filter)

                                input(name='draftResponse', value='[,,"1911309125656065190"]', type='hidden')
                                input(name='fbzx', value='1911309125656065190', type='hidden')

                                input(type='submit', value='Souscrire à la déclaration', name='subscribe', role='button')
                            p.onsuccess.success.feedback(aria-hidden='true')= locale.t('form.success')
                            p.onerror.error.feedback(aria-hidden='true')= locale.t('form.error')

                    #signatories(class=filters.join(' '))
                        h2
                            span.counter= entries.length
                            |  #{locale.t('signatories.title')} 
                            span.date= date

                        fieldset.filters
                            - var category_counter = {}
                            each filter in filters
                                - category_counter[filter] = entries.filter(function(obj) { return obj['Catégorie'] == filter; }).length

                            legend
                                | #{locale.t('signatories.filters.title')} (
                                button(value='all')= locale.t('signatories.filters.all')
                                | /
                                button(value='none')= locale.t('signatories.filters.none')
                                | )
                            
                            div
                                each filter in filters
                                    - var id = 'filter_' + filter
                                    label(for=id)
                                        input(id=id, type='checkbox', checked, value=filter)
                                        = locale.t('form.fields.category.options.' + filter)
                                        |  
                                        span.counter (#{category_counter[filter]})

                        ul
                            each signatory in entries
                                    - cardClass = 'card'
                                    if signatory['extras']
                                        - cardClass += ' extras'
                                    li(class=signatory['Catégorie'])
                                        div(class=cardClass, id="#{slug(signatory['Société']).toLowerCase()}")
                                            if signatory['Logo']
                                                .logo
                                                    img(src="../images/logos/#{signatory['Logo']}" alt="")
                                            .content
                                                h3= signatory['Société']
                                                if signatory['Mention du cartouche'].length != 1
                                                    .meta
                                                        if signatory['Mention du cartouche'].length > 1
                                                            span.name= signatory['Mention du cartouche']
                                                        else
                                                            span.name #{signatory['Prénom']} #{signatory['Nom']}
                                            if signatory['extras']
                                                p.description= signatory['extras']


                section#faq
                    h2 FAQ
                    dl
                        - var _len = getFaqLength(locale.currentLocale)
                        - var _i = 0
                        while _i < _len
                            dt= locale.t('faq.' + _i + '.title')
                            dd
                                != marked(locale.t('faq.' + _i + '.desc') + "\n\n" + links)
                            - _i++

                .medium
                    img(src="../images/presidio-modelo2.jpg" alt="Prison panoptique, Presidio Modelo, Cuba - Friman, Wikimedia Commons")


            footer.col
                .author
                    p
                        | Photo « Intérieur de la prison Presidio Modelo, à Cuba » par Friman
                        a(href="https://commons.wikimedia.org/wiki/File:Presidio-modelo2.JPG") wikimedia commons

                p.license
                    = locale.t('footer.license')
                    br
                    a(href="http://creativecommons.org/licenses/by-sa/4.0/")
                        img(alt="Creative Commons License", style="border-width:0", src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png")
                        = locale.t('footer.cc')



        script(src="../scripts/vendor.js?DIGEST")
        script(src="../scripts/app.js?DIGEST", onload="require('initialize');")

        script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        script.
            (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));

        script(type='text/javascript').
            var _paq = _paq || [];_paq.push(["setDomains", ["*.ni-pigeons-ni-espions.fr","*.www.ni-pigeons-ni-espions.fr","*.ni-pigeons-ni-espions.fr"]]);_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);(function() {var u="//piwik.cozycloud.cc/";_paq.push(['setTrackerUrl', u+'piwik.php']);_paq.push(['setSiteId', 4]);var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);})();
        noscript
            img(src='//piwik.cozycloud.cc/piwik.php?idsite=4', style='border:0;', alt='')
